<div data-role="header" data-theme="b" data-position="fixed">
	<h1>Posts <%= ">> You don't Look like a Moblie Client :(" if @browser_type != "mobile"  %></h1>
	<%= link_to 'New', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post, "data-transition" => "flip" %>
      <%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear", "data-transition" => "slide" %>
    </li>
    <% end %>
	<li><a href="/video.html">Video</a></li>
	<li rel="external" data-transition="flip"> <a href="http://youtu.be/dQw4w9WgXcQ">external Rick Roller	</a>	</li>
	<li><a href="http://falsepositives.blogspot.com/KA2.mpg">Intro to jQuery Mobile</a></li> 


		
  </ul>
</div>

<!-- Start of embeded video  page -->
<div data-role="page" id="videopage">
	<div data-role="content">
	test
	</div>
</div>

<%= render 'footer' %>
