<div data-role="header" data-position="fixed">
  <h1><%= @post.title %></h1>
  <%= link_to 'Home', posts_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%= @post.body %><br />
<div style="font-size:small;text-align:right">
	last update: <%= time_ago_in_words(@post.updated_at) %>
</div>
</div>

<%= render 'footer' %>